@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Quicksand:wght@400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;  
}
body{
    margin: 0;
    height: 100vh;
}

.main-div {
    width: 7/12;
    height: 1/2;
  }
  
  @media (min-width: 768px) {
    .main-div {
      width: 60%;
      height: 80%;
    }
  }